@media screen and (max-width: 1367px) {
  .iframe-holder{
    width: 100%;height: 30rem;display: block;position: relative;overflow: hidden;
  }
  iframe {
    width: 220%;height: 120%;transform: scale(0.95) translate(-28%,-28%);position: absolute;top: 0;left: 0;overflow-y: hidden;
  }
}
@media screen and (max-width: 1300px) {
  .iframe-holder{
    width: 100%;height: 20%;display: block;position: relative;overflow: hidden;
  }
  iframe {
    width: 220%;height: 200%;transform: scale(0.85) translate(-32%,-30%);position: absolute;top: 0;left: 0;
  }
}
@media screen and (max-width: 1030px) {
  .iframe-holder{
    width: 100%;height: 20%;display: block;position: relative;overflow: hidden;
  }
  iframe {
    width: 220%;height: 200%;transform: scale(0.7) translate(-39%,-40%);position: absolute;top: 0;left: 0;
  }
}
@media screen and (max-width: 652px) {
  .head {
    width: 100%;height: 10.5rem;position: relative;margin: 0px;
  }
  .logo-holder {
    width: 100%;height: 7rem;background-color: rgb(0, 0, 150);
    border-radius: 0px 0px 0px 0px;
  }
  .search-holder {
    width: 15rem;height:3rem;position: absolute;bottom: 0;right: 10%;margin: 0px;display: inline;
  }
  .search-holder input {
    width: 98%;height:75%;position: absolute;margin: 0px;top: 0;left: 0;
    border-radius: 5px;border: 0.5px solid rgba(100,100,100,0.4);
  }
  .conteiner {
    width: 89%;margin: 0 auto 0 auto;position: relative;
  }
  .show-title {
    width: 100%;border: none;border-bottom: 3.5px solid rgba(60, 60, 255, 1);
    display: block;height: 1.475rem;
  }
  .show-title p {
    border: none;background-color: rgba(60, 60, 255, 1);
    color: white;font-size: 0.7rem;display: inline;
    padding: 0.5125rem 0.3125rem;
  }
  body {
  margin: 0px;
}
.logo-holder div {
  width: 5rem;height: 5rem;position: absolute;top: 37%;left: 7%;
  transform: translate(0%, -50%);
}
.logo-holder-div {
  width: 100%; height: 100%;background-image: url('../img/ak.png');
  background-position: center;height: 100%;width: 100%;
  background-repeat: no-repeat;position: relative;
  background-size: cover;background-size: 72% 80%;transition: transform .2s;
}
.header {
  width: 80%;position: relative;margin: 0px auto 0px auto;
}
.header nav{
	width: 100%;
}
.header ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}
.header li{
	position: relative;
	padding: 0 20px;
	height: 100%;
	display: flex;
}
.header-a{
	z-index: 1;
	color: black;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
	padding: 10px 5px;
}
.header-a:before{
	position: absolute;
	content: "";
	height: 10.33%;
	width: 0;
	background-color: #0D7CFF;
	bottom: -4.66%;
	left: 50%;transform: translate(-50%,0);
	transition: all 0.5s;
}
.header-a:hover:before{
	width: 100%;
}

.list-footer nav{
	width: 100%;
}
.list-footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}
.list-footer li{
	position: relative;
	padding: 0 20px;
	height: 100%;
	display: flex;
}
.list-footer-a{
	z-index: 1;
	color: black;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
	padding: 10px 5px;
}
.list-footer-a:before{
	position: absolute;
	content: "";
	height: 10.33%;
	width: 0;
	background-color: #0D7CFF;
	bottom: -4.66%;
	left: 50%;transform: translate(-50%,0);
	transition: all 0.5s;
}
.list-footer-a:hover:before{
	width: 100%;
}

.QR-Code {
  width: 100%;height: 25rem;display: block;position: relative;overflow: hidden;
}
.QR-Code img {
  width: 70%;position: absolute;top: 50%;left: 50%;
  transform: translate(-50%, -50%);display: block;
}

.listXholder {
  width: 50%;height: 100%;position: relative;justify-content: center;
}
.list-contact {
  display: inline-block;justify-content: center;
  margin: 5rem 0;
}
.footer {
  position: relative;width: 100%;height: 20rem;
  background: rgba(5, 0, 150, 0.8);display:block;
}
.list-foot-er {
  width: 80%;margin: 0 auto 0 auto;display: flex;
}
.list-footer {
  width: 80%;margin: 0 auto 0 auto;display: block;
  padding: 3rem 0 0 0;
}
.cont-holder {
  width: 40px;height: 40px;margin: 2px;display: inline-block;
  transition: transform .2s;
}
.cont-holder img {
  width: 100%;height: 100%;
}
.cont-holder:hover {
  transform: scale(1.1);
}

.show-content {
  width: 100%;height: 23rem;margin: 5px auto 10px auto;position: relative;display: flex;
}

.show-content-2 {
  width: 100%;;margin: 10px auto 10px auto;position: relative;display: flex;
}
.show-content-2-first-child {
  width: 66%;margin: 0 10px 0 0;position: relative;padding: 0 0 0 4%;
}
.show-content-2-last-child {
  width: 30%;height: 20rem;margin: 0 0 0 10px;position: sticky;display: block;
  top: 0;
}

.con-show-content-2 {
  width: 100%;height: 25rem;margin: 10px auto 10px auto;position: relative;
}

.show-content-5 {
  width: 100%;height: 23rem;margin: 0px;position: relative;display: flex;
}

.show-content-3 {
  width: 70%;height: 23rem;margin: auto 10px auto 0;position: relative;
}

.show-content-4 {
  width: 30%;height: 23rem;margin: auto 0 auto 10px;position: relative;
}

.show-p1 {
  width: 50%;height: 100%;margin: 2px;overflow: hidden;display: block;
}
.show-p1 p {
  margin: 0;position: absolute;bottom: 2px;left: 5px;font-size: 1.375rem;font-weight: bold;
  color: white;
}
.show-p1 .imgpreshow {
  width: 100%; height: 100%;align-items: center;align-content: center;
  transition: transform .2s;box-shadow:inset 0px -90px 70px -50px #000;cursor: pointer;
}
.show-p1 .imgpreshow:hover {
  transform: scale(1.25);
}

.show-p12 {
  width: 50%;height: 100.5%;margin: 0;overflow: hidden;display: block;position: relative;
}

.show-p2 {
  width: 100%;height: 50%;margin: 2px;overflow: hidden;display: block;position: relative;
}
.show-p2 p {
  margin: 0;position: absolute;bottom: 2px;left: 5px;font-size: 1.375rem;font-weight: bold;
  color: white;
}
.show-p2 .imgpreshow {
  width: 100%; height: 100%;align-items: center;align-content: center;
  transition: transform .2s;box-shadow:inset 0px -80px 70px -50px #000;cursor: pointer;
}
.show-p2 .imgpreshow:hover {
  transform: scale(1.25);
}

.show-p3 {
  width: 50%;height: 100%;margin: 2px;overflow: hidden;display: block;position: relative;
}
.show-p3 p {
  margin: 0;position: absolute;bottom: 2px;left: 5px;font-size: 1.375rem;font-weight: bold;position: relative;
  color: white;
}
.show-p3 .imgpreshow {
  width: 100%; height: 100%;align-items: center;align-content: center;
  transition: transform .2s;box-shadow:inset 0px -80px 70px -50px #000;cursor: pointer;
}
.show-p3 .imgpreshow:hover {
  transform: scale(1.25);
}

.show-p22 {
  width: 100%;height: 50%;margin: 0;overflow: hidden;display: flex;position: relative;
}
.show-p22 p {
  margin: 0;position: absolute;bottom: 7px;left: 5px;font-size: 1.375rem;font-weight: bold;
  color: white;
}

.show-action {
  width: 100%;height: 100%;position: relative;margin: 0;display: flex;
}

.con-show-action {
  width: 100%;height: 100%;position: relative;margin: 0;display: flex;
}

.show-V1 {
  width: 49%; height: 100%;margin: 2px;display: block;
}
.con-show-V1 {
  width: 100%; height: 100%;margin: 2px;display: block;
}
.show-V11 {
  width: 49%; height: 100%;margin: 0 2px;display: block;padding: 0;
}
.show-V2 {
  width: 100%; height: 29%;display: flex;margin: 0 0 5px 0;
}

.show-V1:hover p {
  color: rgba(100, 100, 235, 0.7);cursor: pointer;
}
.show-V2:hover p {
  color: rgba(100, 100, 235, 0.7);cursor: pointer;
}

.imagprovider {
  width: 35%; height: 100%;margin: 2px;
}
.text-provider {
  width: 64%; margin: 2px; height: 100%;
}
.text-provider p {
  width: 100%; margin: 2px; height: 100%;color: black;font-weight: bolder;
}

.imag-provider {
  width: 100%;height: 59%;
}
.text-pro-vider {
  width: 100%;height: 25%;
}
.text-pro-vider p {
  width: 100%; margin: 2px; height: 100%;color: black;font-weight: bolder;
}


.con-text-pro-vider {
  width: 75%;height: 100%;
}
.con-text-pro-vider p {
  width: 100%; margin: 2px; height: 100%;color: black;font-weight: bolder;
}
.Abo-text-pro-vider p:first-child {
  width: 100%; margin: 2px;color: black;font-weight: bolder;font-size: 2.5rem;
}
.Abo-text-pro-vider p:last-child {
  width: 100%; margin: 2px; height: 100%;color: black;
}

.list-cont-act {
  display: inline-block;justify-content: center;
  width: 50%;margin: 20px auto 0 auto;
}
.iframe-holder{
  width: 100%;height: 17rem;display: block;position: relative;overflow: hidden;
}
iframe {
  width: 210%;height: 200%;transform: scale(0.45) translate(-60%,-50%);position: absolute;top: 0;left: 0;
}
.id-img {
  width: 11.5rem;height: 11.5rem;position: relative;margin: 0 auto 0 auto;
}
}
